body
    background-image: linear-gradient(180deg, #a2d2ff 0%, #ff9066 50%)
    transition: 0.3s ease-in-out

html.dark
    body
        background-image: linear-gradient(180deg, #001122 0%, #3b0a4e 50%)