---
import Main from "../layouts/main.astro";
import styles from '../styles/index.sass';
import DynamicText from "../components/dynamic_text.astro";
---

<Main title="Home ~ BaBaSaMa">
	<div id="container" class="relative container mx-auto z-10 grid">
		<div class="self-center flex flex-col lg:flex-row">
			<div id="text" class="grid basis-1/2 grow p-5 content-center">
				<DynamicText/>
			</div>
	
			<div id="promo" class="flex-1 block p-4 hover:basis-1/3 dark:text-white">
				<p class="text-lg lg:text-sm">know more about me</p>
				<img src="/images/pic_of_me_1.png" alt="about me">
			</div>
		</div>
	</div>
</Main>

<script>
	document.getElementById('promo').addEventListener('click', () => {
		window.location.href = '/about_me'
	})
</script>