---
export function getStaticPaths() {
  return [
    {params: {blog: 'clifford'}},
    {params: {blog: 'rover'}},
    {params: {blog: 'spot'}},
  ];
}

const { blog } = Astro.params;
---
<div>Good dog, {blog}!</div>